<div class="collapse bg-inverse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">About Me</h4>
            <p class="text-muted">Hello, and welcome to my portfolio page. This is written to show you what I have done in the past which might interest many people. Definitely, make sure to roam around my portfolio to get a gist about what I did, and what you can do to make your lives better.</p>
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white">Explore</h4>
            <ul class="list-unstyled">
              <%= nav_helper 'text-white', 'li' %>
              <li><%= login_helper 'text-white' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">Ojas Kulkarni</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>