<h1>About Me</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <%= image_tag "logo.jpg", width:300, alt:"Profile Image" %>
  </div>
  <div class="col-md-6">
    <p>With over a year expereience of making content for other people, I know thst sometimes it can be a hard process. I am a 15 year old student, which everybody by now knows, and I love to do and make aproductive thing in my life.  
    Some of the most important things about learning is that you have to keep doing it, and not be lazy at time to keep it progressing.  You make mistakes and learn, that is what happened to me, and it is one of the biggest secrets about me. 
    <hr>For this reason, I decided to make this website, and share the information I knew with people, by not keeping it a secret anymore. When I am fully devoted to a topic, I try not to miss a day because I know that it is going to weaken over
    time, if I don't do it.</p>
  </div>
</div>

