
<div class="col-md-4">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1748.0191198527957!2d11.514217216467387!3d64.
  01601018353638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46729b2c159c064d%3A0xe0ef7def3017de36!2sBergv
  egen%2C+7716+Steinkjer%2C+Norway!5e0!3m2!1sen!2sus!4v1499698591162" width="500" height="450" frameborder="0" sty
  le="border:0" allowfullscreen></iframe>
</div>

<div class="contact-info"></div>
  <h3 align="right"><b>Want to contact me?</b></h3>
<br>
  <p align="right"><b>Phone Number:</b> <%= number_to_phone "9422930192"%></p>
  <p align="right"><b>Address:</b> Bergvegen 166, STEINKJER, 7716</p>
  <p align="right"><b>Email: </b><a href="mailto:ojas.ajay.kulkarni@gmail.com"?subject=PortfolioContact" "email me">Email me</a></p>
</div>


